// ========================== 新增收款单页面 ==========================
.top {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid gainsboro;
  text-align: center;
  position: relative;

  .title {
    font-size: 24px;
    font-weight: 300;
  }

  .receipt-id {
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 13px;
    color: gray;
  }
}

.add-form {
  display: flex;
  flex-direction: row;

  .form-item {
    margin-right: 20px;
  }
}

.word-prompt {
  font-size: 13px;
  color: gray;
}

.bottom {
  width: calc(100% - 320px);
  background-color: #fff;
  position: fixed;
  bottom: 0;
  margin-left: -25px;
  margin-bottom: 0px;
  text-align: end;
  padding: 20px;
  border-top: 20px solid #F5F9FF;
  border-radius: 5px;

  .bottom-second-btn {
    margin-left: 10px;
  }
}

// ========================== 收款单详情页面 ==========================
.content {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;

  .content-item {
    width: 20%;
  }
}

@media print {
  .printContent {
    margin: 40px;
  }
}