.content{
    padding: 20px;
    background-color: white;
}
.header{
    display: flex;
    height: 60px;
    // background-color: red;
    align-items: center;
    border-bottom:1px solid rgba(103, 103, 103, 0.263);
    margin-bottom: 20px;
}
.header_center{
    font-size: 20px;
    flex: 1;
    text-align: center;
}
.header_right{
    float: right;
}
.sale_body{
    margin-bottom: 20px;

}
.sale_group{
    margin-right: 10px;
}

.sale_foot{
    position: fixed;
    left: 270px;
    bottom: 0;
    width: 81%;
    padding: 20px;
    box-sizing: border-box;
    height: 80px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 20px;
}