.content{
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
}
.content_one button{
    margin-right: 10px;
}
.content_two{
    margin-top: 20px;
}
.group{
    margin-right: 10px;
}
.foot{
//    float: right;
   text-align: right;
   height: 50px;
}