// 背景图
.tupian{
    background-image: url(../../images/登录.jpg);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
// 登陆大盒子
.da{
    width: 1200px;
    height: 100%;
    // background-color: aqua;
    display: flex;
}
// 左边
.da_left{
    width: 600px;
    height: 100%;
    background-color: rgba($color: #006eff, $alpha: 0.5);
    padding:0 20px;
}
.left_top{
    color: #ffffff;
    font-size: 30px;
}
.left_end{
    color: #ffffff;
    font-size: 15px;
}
// 右边
.da_right{
    width: 600px;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right_dl{
    width: 400px;
    height: 400px;
    // border: 1px solid red;
}
.dl_top{
    color: #006eff;
    font-size: 40px;
    font-weight: bold;
}
.dl_input{
    // background-color: aqua;
    width: 100%;
    height: 120px;
    margin-top: 50px;
    > span {
        margin-top: 20px;
    }
}
.input_shang{
    height: 50px;
}
.input_xia{
    height: 50px;
}
.dl_wang{
    color: #006eff;
    margin-left: 260px;
    font-size: 15px;
    margin-top: 50px;
}
.dl_an{
    margin-top: 30px;
    background-color: #006eff;
    width: 100%;
    height: 50px;
    font-size: 18px;
}
.dl_wu{
    width: 100%;
    color: #006eff;
    font-size: 18px;
    margin-left: 120px;
    margin-top: 20px;
}
// 注册遵守协议
.dl_zs{
    color: black;
    font-size: 15px;
    margin-top: 50px;
}